name = "osrs-hiscores-clone"
main = "src/index.js"
compatibility_date = "2025-09-14"
[placement]
mode = "smart"

[observability]
enabled = true
head_sampling_rate = 1


# Cron Trigger: Once per hour per specification
[triggers]
crons = ["0 */4 * * *"]

[[kv_namespaces]]
binding = "HISCORES_KV"
id = "884ba8e6b3484b0eb148b1e847c7a29a"

[vars]
ADMIN_TOKEN = "secretseed"
